<<<<<<< HEAD
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }
  
  .App {
    display: flex;
    height: 100vh;
    background-color: #f4f4f4;
  }
  
  /* Sidebar */
  .sidebar {
    width: 250px;
    background-color: #2C3E50;
    color: white;
    padding: 20px;
  }
  
  .logo {
    text-align: center;
    margin-bottom: 30px;
  }
  
  ul {
    list-style: none;
    padding-left: 0;
  }
  
  ul li {
    padding: 15px 10px;
    margin: 5px 0;
    cursor: pointer;
    background-color: #34495E;
    text-align: center;
    border-radius: 5px;
  }
  
  ul li:hover {
    background-color: #1ABC9C;
  }
/* Hide text when sidebar is minimized */
.sidebar-minimized h2,

.sidebar-minimized {
  width: 60px; /* Shrink sidebar */
}

.sidebar-logo-image {
  width: 50px;
  height: 50px;
  margin: 10px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  display: flex;
  align-items: center;
  padding: 10px;
}

.sidebar-icon {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

  /* Toggle button styling */
.sidebar-toggle {
  margin-top: auto;
  padding: 10px;
}

.sidebar-toggle button {
  background-color: #0d2138;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 20px;
}

.sidebar-toggle button:hover {
  opacity: 0.8;
}
  
  /* Content area */
  .content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }
  
  /* Topbar */
  .topbar {
    width: 100%;
    height: 50px;
    background-color: #34495E;
    justify-content: flex-end;
    display: flex;
    align-items: center;
    padding: 0 20px;
  }
  
  .search-input {
    width: 300px;
    padding: 10px;
    border-radius: 5px;
    border: none;
  }
  
  /* Main Content */
  .main-content {
    padding: 20px;
    flex-grow: 1;
  }
  
  .main-content h1 {
    font-size: 24px;
    color: #2C3E50;
  }
  
  .main-content p {
    margin-top: 10px;
    color: #7F8C8D;
  }
  
  /* Files Component Styles */
  .files-page {
    padding: 20px;
  }
  
  .files-topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .file-info {
    font-size: 14px;
    color: #7F8C8D;
  }
  
  .file-buttons button {
    padding: 10px 20px;
    margin-left: 10px;
    background-color: #34495E;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .file-buttons button:hover {
    background-color: #1ABC9C;
  }
  
  .file-buttons .active {
    background-color: #1ABC9C;
  }
  
  .file-list {
    padding: 20px;
    border: 1px solid #DDD;
    border-radius: 10px;
  }
=======
>>>>>>> dev
