/* Login Page Styles */
.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f6f9; 
  }
  
  .login-container {
    background-color: #f4f6f9; /* Navy blue background to match sidebar */
    color: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .login-container h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: black !important;
  }
  .login-container h2 {
    color: black !important;
  }
  .login-container label {
    color: black !important;

  }
  
  
  .login-container input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: solid;
    border-color: black;
    border-radius: 5px;
    background-color: #f4f6f9;
    color: black;
  }
  
  .login-container input::placeholder {
    color: black; /* Lighter text for placeholder */
  }
  
  .login-container button {
    width: auto; /* Remove full-width */
    padding: 10px 20px;
    background-color: #1ABC9C; /* Green hover color */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .login-container button:hover {
    background-color: #16a085;
  }
  
  /* Optional: Adjust spacing for inputs */
  .login-container .input-group {
    width: 100%;
    margin-bottom: 15px;
  }
  
  .logo-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }

  .seal-logo {
    width: 150px;/*Adjustable*/
    height: auto;
  }