/* GLOBAL STYLES */
body {
    background-color: var(--background-color);
    color: var(--text-color);
}

/* For buttons, inputs, etc. */
input, button {
    background-color: var(--input-background);
    color: var(--text-color);
}

/* Mining Container */
.mining-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.dashboard {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin-top: 20px;
    gap: 0px;
}

.tile {
    background: var(--tile-background);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px;
    text-align: center;
}

/* Mining Control */
.mining-control {
    display: flex;
    align-items: center;
    gap: 10px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--slider-background);
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: var(--slider-handle-color);
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: var(--slider-checked-background);
}

input:checked + .slider:before {
    transform: translateX(26px);
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

/* Mining Status */
.mining-status {
    font-size: 16px;
    font-weight: bold;
}

/* Mining Log */
.mining-log {
    margin-top: 20px;
    max-height: 400px;
    overflow-y: auto;
    width: 100%;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 8px;
    background-color: #f9f9f9;
}

.mining-log ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.mining-log li {
    background: var(--log-background);
    padding: 8px;
    margin-bottom: 5px;
    border-radius: 4px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.mining-log li:hover {
    background-color: #d3d3d3;  
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
    cursor: pointer; 
}

/* Light Mode Variables */
:root {
    --background-color: #f4f4f4;
    --text-color: #000000;
    --input-background: #ffffff;
    --tile-background: #f0f0f0;
    --slider-background: #ccc;
    --slider-handle-color: #ffffff;
    --slider-checked-background: #4CAF50;
    --log-background: #e0e0e0;
}

/* Dark Mode Variables */
[data-theme="dark"] {
    --background-color: #121212;
    --text-color: #e0e0e0;
    --input-background: #333333;
    --tile-background: #1f1f1f;
    --slider-background: #555555;
    --slider-handle-color: #1f1f1f;
    --slider-checked-background: #4CAF50;
    --log-background: #333333;
}
