/* GLOBAL STYLES */
body {
    background-color: var(--background-color);
    color: var(--text-color);
}

/* For buttons, inputs, etc. */
input, button {
    background-color: var(--input-background);
    color: var(--text-color);
}

/* Mining Container */
.mining-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.dashboard {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
    gap: 20px;
    width: 90%;
}

.tile {
    background: var(--card-background);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px var(--box-shadow-color);
    margin: 0;
    text-align: center;
    width: 48%; /*Align two tiles side by side*/
}

.tile h2 {
    font-size: 18px;
    color: var(--primary-text-color);
}

/*Mining Control section*/
.mining-control {
    background: var(--card-background);
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px var(--box-shadow-color);
    display: flex;
    align-items: center;
    gap: 10px;
    width: 48%;
}

.switch .slider {
    background-color: var(--input-border);
    transition: .4s;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--slider-background);
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: var(--slider-handle-color);
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: var(--slider-checked-background);
    /*background-color: var(--button-background);*/
}

input:checked + .slider:before {
    transform: translateX(26px);
    background-color: var(--button-text-color);
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

/* Mining Status */
.mining-status {
    font-size: 16px;
    font-weight: bold;
    /*color: var(--button-text-color);*/
    color: black;
    margin-left: 10px;
    flex-grow: 1;
}

/* Mining Log */
.mining-log {
    margin-top: 20px;
    max-height: 400px;
    overflow-y: auto;
    width: 90%; /* Better alignment with other content */
    padding: 20px;
    box-shadow: 0 4px 8px var(--box-shadow-color);
    border-radius: 8px;
    background-color: var(--card-background);
}

.mining-log h3 {
    font-size: 20px;
    color: var(--primary-text-color);
    margin-bottom: 10px;
}

.mining-log ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.mining-log li {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 10px;
    align-items: center;
    background: var(--card-background);
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 8px;
    box-shadow: 0px 2px 4px var(--box-shadow-color);
    border: 1px solid var(--input-border);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.mining-log li:hover {
    background-color: var(--button-background-light); 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
    cursor: pointer;  
}

.mining-log li span {
    font-size: 1rem;
    color: var(--secondary-text-color);
}

.mining-log li .timestamp {
    font-weight: bold;
    text-align: right;
    color: var(--primary-text-color);
}

/* Light Mode Variables */
:root {
    --background-color: #f4f4f4;
    --text-color: #000000;
    --input-background: #ffffff;
    --tile-background: #f0f0f0;
    --slider-background: #ccc;
    --slider-handle-color: #ffffff;
    --slider-checked-background: #4CAF50;
    --log-background: #e0e0e0;
}

/* Dark Mode Variables */
[data-theme="dark"] {
    --background-color: #121212;
    --text-color: #e0e0e0;
    --input-background: #333333;
    --tile-background: #1f1f1f;
    --slider-background: #555555;
    --slider-handle-color: #1f1f1f;
    --slider-checked-background: #4CAF50;
    --log-background: #333333;
}
