/* GLOBALS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }

  body {
    background-color: #f4f4f4; /* Background color for the entire page */
    height: 100vh; /* Full viewport height */
}

div.container {
    padding: 10px;
    background-color: #f0f4f8; /* Light background for the page */

}

.proxy-head {
  background-color: #dde4e9;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 50px;

  }

  .proxy-form {
    display: flex;
    justify-content: center;
    gap: 70px;
    padding: 10px;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  
  .proxy-form div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }


/* Proxy Toggle Button */
.toggle-button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .toggle-button.off {
    background-color: #34495E;
    color: white;
  }
  
  .toggle-button.on {
    background-color: #4CAF50;
    color: white;
  }
  
  .toggle-button:hover {
    opacity: 0.9;
}

/* Price Input Styles */
.price-input {
    padding: 10px;
    border-radius: 5px;
    font-size: 18px;
    width: 240px;
    transition: border-color 0.3s, background-color 0.3s;
  }
  
  .price-input.editing {
    border: 1px solid #4caf50;
    background-color: #e8f5e9;
  }
  
  .price-input.saved {
    border: 1px solid #ccc;
    background-color: #f0f0f0;
    cursor: pointer;
  }
  
  .price-input.saved:hover {
    background-color: #e0e0e0;
}

/* Container of list of proxies */
.proxy-list {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    gap: 20px;    
    padding: 20px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
  }

  div.proxy-list h1 {
    text-align: center;
    font-size: 30px;
  }

/* for the Available proxy and search Bar */
.available-proxy-container {
    display: flex;
    align-items: center;
    position: relative;
    height: 50px;
  }

   .proxy-search-bar {
    position: absolute;
    left: 0;
    width: 250px;
    font-size: 17px;
    padding: 5px;
   }

   .available-proxy-container h1 {
    margin: 0 auto;
    font-size: 30px;
  }

  .categories {
    display: grid;
    grid-template-columns: 1fr 0.5fr 0.6fr 0.5fr 1fr;
    gap: 20px;
    padding-top: 50px;
    padding-left: 30px;
  }
  
  .categories p {
    color: #2d4a6e!important; 
}

/* Per Proxy Card */
.proxy-item {
    display: grid;
    grid-template-columns: 1fr .5fr 0.6fr 0.6fr 0.4fr 0fr;
    gap: 20px;
    padding: 15px;
    border-bottom: 1px solid #e0e0e0;
  }


  .proxy-item p {
    font-size: 16px;
    color: #6c757d;
  }

  /* Proxy Join Button Container */
  .proxy-join {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  /* Proxy Join Button Style */
  .purchase-button {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    color: #285a8f;
    font-weight: bold;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;

    height: 75%;
    width: 175px;
  }
  
  .purchase-button:hover {
    background-color: #285a8f;
    color: white;
    font-weight: bold;
}

/* Current Proxy */
.current-proxy-details {
    display: grid;
    grid-template-columns: 1fr .5fr 0.6fr 0.6fr 0.4fr 0fr;
    gap: 20px;
    padding: 15px;
    margin-top: 20px;
    border-bottom: 1px solid #e0e0e0;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
   }

   .current-proxy-details p {
    font-size: 16px;
    color: #6c757d;
  }

   .disconnect-button {
    background-color: #c55858;
    border: 1px solid #ccc;
    color: #d6e2ee;
    font-weight: bold;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;

    height: 75%;
    width: 175px;
  } 
  
  /* Hover effect */
  .disconnect-button:hover {
    background-color: #c34646ce; 
}

/* Histoy Button */
.history-button {
    background-color: #285a8f;
    border: 1px solid #ccc;
    color: white;
    font-weight: bold;
    font-size: 16px;
    margin-right: 40px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    height: 75%;
    width: 175px;
  }
  
  .history-button:hover {
    background-color: #285a8fd7;
    font-weight: bold;
}

