  .signup-page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    height: 100vh;
    background-color: #f4f6f9; 
  }

  .signup-container h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: white !important;
  }
  
  .signup-container h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: white !important;
  }
  
  .signup-form textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    background-color: #2C3E50;
    color: white;
  }

  .signup-form label {
    width: 100%;
    color: black;
    margin-bottom: 5px; 
}

  .signup-form {
    background-color: #f4f6f9;
    color: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 600px; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signup-form h2 {
  color: black;
}

.signup-form span {
  color: black;
}

.signup-container button {
    width: auto; 
    padding: 10px 20px;
    background-color: #1ABC9C; 
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  .signup-container input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: solid;
    border-color: black;
    border-radius: 5px;
    background-color: #f4f6f9;
    color: black;
  }
  
  .signup-container button:hover {
    background-color: #16a085;
  }

  .logo-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }

  .seal-logo {
    width: 150px;
    height: auto;
  }

  .download-button {
    width: auto; 
    padding: 8px 16px; 
    background-color: black; 
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 10px 0; 
}

.download-button:hover {
    background-color: #444; 
}